services:
  db:
    image: postgres:15-alpine
    container_name: app_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  backend:
    container_name: app_backend
    build: . 
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}"
      FINTOC_API_KEY: ${FINTOC_API_KEY} 
    depends_on:
      - db 

volumes:
  postgres_data: